body{
  background-color: #faebd7;
  color: #7c573d;
}

.card{ position: relative; }

.choices{
  position: absolute;
  top:50%;
  right: 0;
  width: 120px;
  transform: translateY(-50%);
}
/*
http://localhost:8080/
*/
